body {
    font-family: 'Montserrat', sans-serif;
    /* font-family: 'Poppins', sans-serif; */
}

/* header for desktop start  */
.header-cc {
    padding: 30px 0;
    background-color: transparent !important;    
    transition: 0.3s;
}


.header-cc.active {
    background-color: #090605 !important;
}

.primary-btn {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    border: 1px solid #e6e6e6;
    padding: 8px 18px;
    transition: 0.3s;
}

.primary-btn:hover {
    background-color: #fff;
    color: #979797 !important;
}

header ul li {
    margin-left: 15px !important;
}

header ul li a img {
    transition: 0.3s;
}

header ul li a img:hover {
    transform: scale(1.15);
}

/* header for desktop end  */

/* Mobile header start  */

.navbar {
    background-color: transparent !important;
    transition: 0.3s;
}

.navbar.active {
    background-color: #090605 !important;
}

.offcanvas-header {
    padding: 20px 30px;
}

.offcanvas-header ul li {
    margin-left: 0px !important;
}

.offcanvas-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes .single-box {
    width: 50px;
    height: 50px;
    border: 1px solid #e6e6e6;
    margin: 0 15px;
}

.offcanvas-title p {
    font-weight: 400;
    color: #979797;
    font-size: 15px;
}

.offcanvas-footer span {
    font-weight: 400;
    font-size: 14px;
    color: #e6e6e6;
}

.offcanvas.offcanvas-end {
    width: 100%;
    background-color: #353535;
}


.navbar-toggler {
    border: 0;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0;
}

.navbar-toggler-icon {
    background-image: url(../images/hamburger-menu.png);
}

.btn-close {
    background-image: url(../images/close.png);
}

.btn-close:focus {
    box-shadow: 0 0 0 0;
}

/* Mobile header end  */

/* banner start  */

.banner {
    padding: 100px 0 0 0;
    background-color: #353535;
}

.banner h1 {
    color: #fff;
    font-size: 44px;
    font-weight: 400;
}

/* banner end  */

/* about start  */

.about {
    padding: 120px 0;
}

.about p {
    font-weight: 400;
    font-size: 18px;
}


/* about end  */

/* items start  */
.spread-out {
    margin-top: 50vh;
    margin-bottom: 50vh;
}

.item-wrapper {
    color: #fff !important;
}

.graphic-text-box {}

.graphic-text-box h3 {
    margin-bottom: 80px;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
}

.graphic-text-box h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #fff;
}

.graphic-text-box p {
    margin-bottom: 20px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

.item-border {
    margin-bottom: 20px;
    width: 150px;
    height: 2px;
    background-color: #fff;
}

.graphic-text-box h4 {
    color: #efefef;
    opacity: 0.5;
    font-size: 36px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}


/* items end  */

/* discover start  */

.discover {}

.discover-wrapper {
    padding: 100px 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.discover h2 {
    font-size: 18px;
    font-weight: 400;
}

.discover-box-wrapper {
    display: flex;
    justify-content: center;
}

.single-discover-box {
    width: 60px;
    height: 60px;
    background-color: #DEDEDE;
    margin: 0 30px;
    transition: 0.3s;
    cursor: pointer;
}

.single-discover-box:hover {
    background-color: #9C9A9B;
}

.single-discover-box.active {
    background-color: #9C9A9B;
}

.secondary-btn a {
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    background-color: #353535;
    border: 1px solid #353535;
    padding: 8px 18px;
    transition: 0.3s;
}


.secondary-btn a:hover {
    background-color: transparent;
    color: #353535 !important;
}

/* discover end  */


/* footer start  */

footer{
    background-color: #1E1E1E;
    padding: 100px 0 50px 0;
}

.footer-box{
    margin-bottom: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.single-footer-box{
    width: 50px;
    height: 50px;
    margin: 0 20px;
    border: 1px solid #9C9A9B;
}

footer h2{
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

footer p{
    font-weight: 400;
    color: #fff;
    font-size: 15px;
}

.footer-divider{
    margin: 40px 0 30px 0;
    width: 100%;
    height: 0.5px;
    background-color: #fff;
}


.gototop{
    position: absolute;
    bottom: 25%;
    right: 10%;
}

.footer-bottom p{
    font-weight: 400;
    font-size: 14px;
}

/* footer start  */